/**
 *------
 * BGA framework: © Gregory Isabelli <gisabelli@boardgamearena.com> & Emmanuel Colin <ecolin@boardgamearena.com>
 * Volcano implementation : © Jonathan Baker <babamots@gmail.com>
 *
 * This code has been produced on the BGA studio platform for use on http://boardgamearena.com.
 * See http://en.boardgamearena.com/#!doc/Studio for more information.
 * -----
 *
 * volcano.css
 *
 * Volcano stylesheet
 *
 */

#VOLtemp_display{
    display:inline-table
}

.VOLcell{
    cursor:pointer;
    padding:5px;
    border:2px solid black;
    height:20px;
}

.VOLcell.VOLselected{
    outline:4px dashed chartreuse
}

.VOLpiece{
    font-size:20px;
    font-weight:900;
    padding:5px;
    width:30px;
    text-align:center
}

.VOLscores{
	margin-top:10px;
}

.VOLcaptures{
    display:inline-block;
    border:2px solid black
}

/* Captured pieces don't get their own line */
.VOLcaptures .VOLpiece{
    display:inline-block
}

[VOLcolor='0']{
    background-color:black;
    color:white
}
[VOLcolor='1']{
    background-color:red;
    color:white
}
[VOLcolor='2']{
    background-color:orange;
    color:black
}
[VOLcolor='3']{
    background-color:yellow;
    color:black
}
[VOLcolor='4']{
    background-color:green;
    color:white
}
[VOLcolor='5']{
    background-color:cyan;
    color:black
}
[VOLcolor='6']{
    background-color:blue;
    color:white
}
[VOLcolor='7']{
    background-color:purple;
    color:white
}
[VOLcolor='8']{
    background-color:gray;
    color:white
}
[VOLcolor='9']{
    background-color:white;
    color:black
}

/********************************
Modifications to main BGA display
********************************/

/* Hide the dash that would be the player score in other games */
.player_score_value{
    display:none
}
/*
Hide the star that would be by the player score in other games
WARNING: The BGA rating form also uses .fa-star,
         so make sure the selector is more specific
*/
.player_score>.fa-star{
    display:none
}
/* Hide the dot that would separate the game score from the elo */
.player_elo_wrap{
    font-size:0px;
}
/* DON'T hide the children of the player_elo_wrap, like the elo score itself */
.player_elo_wrap>*{
    font-size:16px;
}

